name: Dev auth service

on:
  push:
    branches:
      - main
    tags:
      - v*

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
        #   cache: 'poetry'

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: make prepare
      
      - name: Lint
        run: make lint
  Test:
    needs: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
        #   cache: 'poetry'

      - name: Install Poetry
        run: |
            pip install poetry

      - name: Install dependencies
        run: make prepare

      - name: Run tests
        run: make test

  Build:
    needs: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: poetry install --no-root --no-interaction
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/lyy-nycu/auth-service:dev
            ghcr.io/lyy-nycu/auth-service:${{ github.sha }}

        # switch to ccmis github org. account to deploy on staging server.